# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment Variables
.env
.env.local

# Data & Vector Stores
faiss_store/
chroma_db/
data/
*.jsonl

# IDEs
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/
